<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console-json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <pattern>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</pattern>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <logLevel/>
                <logLevelValue/>
                <message/>
                <loggerName/>
                <threadName/>
                <callerData/>
                <stackTrace/>
                <stackHash/>
                <throwableClassName/>
                <throwableRootCauseClassName/>
                <mdc/>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="console-json"/>
    </root>
</configuration>
